[Unit]
Description=Server for home-key-pro

[Service]
ExecStart=/usr/bin/bash /home/doorserver/NFC_Server/startDoorServer.sh
User=doorserver

[Install]
WantedBy=multi-user.target
